<!-- ── DASHBOARD PAGE ── -->
  <div class="page active" id="page-dashboard">
    <div class="stats-grid" id="dash-stats">
      <div class="stat-card"><div class="spinner"></div></div>
      <div class="stat-card"><div class="spinner"></div></div>
      <div class="stat-card"><div class="spinner"></div></div>
      <div class="stat-card"><div class="spinner"></div></div>
    </div>
    <div class="dash-grid">
      <div class="card">
        <div class="card-head">
          <div><div class="card-title">Distribusi Org Unit</div><div class="card-sub-t">Jumlah user per unit</div></div>
        </div>
        <div class="card-body" id="dash-oubar"><div class="spinner-wrap"><div class="spinner"></div></div></div>
      </div>
      <div class="card">
        <div class="card-head">
          <div><div class="card-title">User Terbaru</div><div class="card-sub-t">5 akun terakhir dibuat</div></div>
        </div>
        <div class="card-body" id="dash-recent"><div class="spinner-wrap"><div class="spinner"></div></div></div>
      </div>
    </div>
  </div>
